[Unit]
Description=Socket for ParetoSecurity agent <-> root helper communication

[Socket]
ListenStream=/var/run/paretosecurity.sock
SocketMode=0666

[Install]
WantedBy=sockets.target