[Unit]
Description=ParetoSecurity hourly runner

[Service]
ExecStart=/usr/bin/paretosecurity check
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=user.target